<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Hight</th>
        <th scope="col">Age</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of value">
        <th scope="row">{{v.name}}</th>
        <td>{{v.department}}</td>
        <td>{{v.hight}}</td>
        <td>{{v.age}}</td>
        <td>{{v.id}}</td>
      </tr>
     
    </tbody>
  </table>